* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* Prevent body scroll, handle in containers */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    position: relative;
    height: 100%;
}